<DOCTYPE html>
    <html lang="en">
        <head>
            <title>Share Airtime Page</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
            <link href="/resources/css/stylesheet.css" rel="stylesheet">
            <link rel="stylesheet" href="/resources/css/style.css">
        </head>
        <body>
          <nav class="navbar navbar-light">
            <a class="navbar-brand" href="#" id="text">
              <img src="/resources/img/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="HNG logo" loading="lazy">
              HNG Internship
            </a>
          </nav>
          <div class="container">
            <div class="row">
              <div class="col-sm-6 image">
                <img src="/static/img/share.jpg" alt="two-people" id="image">
                <p>Share airtime to interns <br />with ease</p>
              </div>
              <form id="form-container" action="/transact" method="POST">
                <div class="select">
                  <label for="currency">Select currency</label><br>
                  <select name="currency" id="currency">
                    <option value="" disabled selected>Select currency</option>
                    <option value="dollar">&dollar;</option>
                    <option value="euro">&euro;</option>
                    <option value="naira">&#8358;</option>
                    <option value="Others">Other</option>
                  </select>
                </div>  
                <div class="select-network"><br>
                  <label for="network">Select network provider</label><br>
                  <select name="network" id="network">
                    <option value="" disabled selected>Select network provider</option>
                    <option value="airtel">AIRTEL</option>
                    <option value="glo">GLO</option>
                    <option value="mtn">MTN;</option>
                    <option value="Others">Other</option>
                  </select>
                </div>
                <div class="amount"><br>
                  <label for="Amount">Amount to send</label><br>
                  <input type="text" id="Amount" name="amount" placeholder="N200">
                </div>  
                <div class="number"><br>
                  <label for="number">Recipient's Number</label><br>
                  <input type="text" id="number" name="number" placeholder="+2348156883674">
                </div>  
                <span class="btm">Use ‘;’ after each number to send to multiple recipients </span>
                <button class="btn">Send</button>
              </form>
              </div>
            </div>
            
            <!-- JS, Popper.js, and jQuery -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        </body>
    </html>